@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://live.staticflickr.com/8013/7604370836_313dbb40c6_b.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
}

h1 {
    color: white;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 80px;
    font-family: "Lilita One", sans-serif;
}

p {
    margin-top: 10px;
    text-align: center;
    font-family: "Lilita One", sans-serif;
    font-size: 20px;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
    color: white;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #0000006e;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 10px;
    width: 300px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 26px;
    font-family: "Lilita One", sans-serif;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
    border: none;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.623);
    transition: .3s ease-in;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}